body {
    background: rgb(30, 30, 30);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

hr {
    margin-top: 30px;
    border: none;
    height: 1px;
    background: #555;
}

input {
    padding: 8px;
    width: 250px;
    border-radius: 15px;
    border: none;
    outline: none;
}

button {
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}
button:active{
    transform: scale(0.95);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #414141;
    padding: 12px;
    margin: 5px auto;
    width: 60%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease, transform 0.2s;
}

li:hover {
    background: #555555;
    transform: scale(1.05);
}

.delete-btn {
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.delete-btn:hover {
    background: darkred;
}
#removeAll {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    background: #bd102a;;
    cursor: pointer;
    transition: background 0.3s ease;
}

#removeAll:hover {
    background: darkred;
}
