body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #3a3a3a;
    color: white;
    margin-top: 50px;
}

hr{
    margin: 30px;
    height: 1px;
    background: #e6e6e6; 
    border:1px solid #ff151517;
}

p{
    font-size: 25px;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 20px;
    background-color: #797979;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #ff151517;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
    display: flex;
    align-items: center;  
    margin: 10px 0;
    padding: 10px;
    background-color: #bababa;
    border-radius: 5px;
    border: 1px solid #ff151517;
    box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.279);
}

li span {
    font-size: 25px;
    font-weight: bold;
    color: #2c2c2c;
    width: 30px;
    text-align: left; 
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    text-align: left; 
    padding-left: 10px; 
}

li:hover {
    transform: scale(1.05);
}

a:hover {
    color: #808080;
}
