body {
    margin: 0;
    background-color: #222;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#game {
    position: relative;
    text-align: center;
}

#canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: auto; 
}

#score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
}

#popup {
    display: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: white; 
    padding: 20px; 
    text-align: center;
    border-radius: 5px;
}
