body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.quiz-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #b0b1b1;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    background-color: #6b7c8e;
}
.hide {
    display: none;
}