*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .8);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}
h1.dark-mode{
    color: #f0f0f0;
}

h2 {
    color: #555;
    margin: 10px 0;
}
h2.dark-mode{
    color: #f0f0f0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4c7caf;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.dark-mode{
    background-color: #4CAF50;
}
button:hover {
    background-color: #2a86e8;
}
button:hover.dark-mode{
    background-color: #0cad11;
}

.game {
    display: none;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin: 20px;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}

.board.dark-mode{
    background-color: #f0f0f0;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.cell.dark-mode{
    background-color: #333;
}

.cell:not(.x):not(.o):hover {
    background-color: #f5f5f5;
}
.cell:not(.x):not(.o):hover.dark-mode{
    background-color: #f0f0f0;
}
.cell.x, .cell.o {
    cursor: not-allowed;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background-color: #cccccc;
}
.board.x .cell:not(.x):not(.o):hover::before.dark-mode,
.board.x .cell:not(.x):not(.o):hover::after.dark-mode{
    background-color: #333;
} 

.board.o .cell:not(.x):not(.o):hover::before {
    background-color: #cccccc;
}
.board.o .cell:not(.x):not(.o):hover::before.dark-mode{
    background-color: #333;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: #ff4757;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: #2ed573;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}
.cell.o::after.dark-mode,
.board.o .cell:not(.x):not(.o):hover::after.dark-mode{
    background-color: #333;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    text-align: center;
}
.winning-message.dark-mode{
    color: #ffffff;
}

.winning-message.show {
    display: flex;
}

#restartButton {
    font-size: 2rem;
    background-color: #4CAF50;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#restartButton.dark-mode{
    background-color: #333;
}

#restartButton:hover {
    background-color: white;
    color: #4CAF50;
}
#restartButton.dark-mode:hover{
    background-color: #333;
    color: white;
}


/* From Uiverse.io by Madflows */ 

.toggle-switch {   
        position: fixed;
        bottom: 10px;
        right: 10px;
     width: 100px;
      height: 50px;
      --light: #d8dbe0;
      --dark: #28292c;
      --link: rgb(27, 129, 112);
      --link-hover: rgb(24, 94, 82);
    }
    
    .switch-label {
      position: absolute;
      width: 100%;
      height: 50px;
      background-color: var(--dark);
      border-radius: 25px;
      cursor: pointer;
      border: 3px solid var(--dark);
    }
    
    .checkbox {
      position: absolute;
      display: none;
    }
    
    .slider {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    
    .checkbox:checked ~ .slider {
      background-color: var(--light);
    }
    
    .slider::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
      box-shadow: inset 12px -4px 0px 0px var(--light);
      background-color: var(--dark);
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    
    .checkbox:checked ~ .slider::before {
      -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
      transform: translateX(50px);
      background-color: var(--dark);
      -webkit-box-shadow: none;
      box-shadow: none;
    }

body.dark-mode {
    background-color: #28292c;
    color: #d8dbe0;
}

