body {
    background-color: #1A1A1A;
    margin: 0;
    overflow: hidden;
}

#Score {
    color: #E8DDB3;
    background-color: #558957;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

#bar {
    background-color: #E8DDB3;
    position: absolute;
    bottom: 10px;
    height: 2vh;
    width: 12vw;
    border-radius: 10px;
}

#ball {
    background-color: #A8180D;
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
